<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div class="register-container" id="register">
        <form action="../Controllers/registrationController.php" method="post">
        <header>Sign Up</header>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Username" name="username">
            <i class="bx bx-user"></i>
        </div>
        <div class="two-forms">
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Firstname" name="firstname">
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" placeholder="Lastname" name="lastname">
                <i class="bx bx-user"></i>
            </div>
        </div>
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email[xyz@gmail.com]" name="email">
            <i class="bx bx-envelope"></i>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="pass">
            <i class="bx bx-lock-alt"></i>
        </div>
        <div class="input-box">
            <input type="number" class="input-field" placeholder="Phone Number" name="phone_number">
        </div>
        <div class="input-box">
            <input type="file" class="input-field" id="productImage" name="productImage" accept="image/*">
        </div><br>
        <div class="input-box">
            <input type="submit" class="submit" value="Register" name="signup">
        </div>
        <div class="two-col">
            <div class="one">
                <input type="checkbox" id="register-check">
                <label for="register-check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="#">Terms & conditions</a></label>
            </div>
        </div>
        <div class="bottom">
            <span><h3>Have an account? <a href="#" onclick="login()">Login</a></h3></span>
        </div>
        </form>
    </div>
</body>
</html>